MONGO_URI=
PORT=
CLIENT_ID=
CLIENT_SECRET=
CLIENT_VERSION=
PAYMENT_SUCCESS_REDIRECT_URL=
JWT_SECRET=
JWT_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=
GCP_PROJECT_ID=
GCP_SA_KEY=
GCP_BUCKET_NAME=
